<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.win8.panache_prototype" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intro"
            android:label="@string/title_activity_intro" >
        </activity>
        <activity
            android:name=".quiz1"
            android:label="@string/title_activity_quiz1" >
        </activity>
        <activity
            android:name=".dresses"
            android:label="@string/title_activity_dresses" >
        </activity>
        <activity
            android:name=".RightSwipe"
            android:label="@string/title_activity_right_swipe"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".dress1"
            android:label="@string/title_activity_dress1" >
        </activity>
    </application>

</manifest>
